@black: #000;
@gray: #666;
@border-radius: 5px;

@button-color: @gray;

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  letter-spacing: -1px;
  line-height: 1.45;
  overflow-x: hidden;
  overflow-y: hidden;
}

h1 {
  font-size: 30px;
  margin: 0 0 1em;
  text-align: center;
}

.screen {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  display: none;
}
#start {
  padding-top: 1em;
}
.screen.is-on {
  display: block;
}
.screen-index {
  // margin: auto;
  // width: 30em;
  min-height: 100%;
}
.character {
  position: absolute;
  bottom: 7em;
  left: 0;
  right: 0;
  width: 15em;
  height: 18em;
  margin: auto;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  z-index: 0;
}

.textarea {
  position: absolute;
  bottom: 0;
  margin: -0.6em auto 2em;
  width: 90%;
  display: block;
  min-height: 5em;
  padding: 1.5em 1.6em;
  background-image: url('../images/kasten.png');
  background-size: 100% 100%;
  color: white;
  font-size: 18px;
}
.textbox--text {
  .decision-timeleft {
    position: absolute;
    top: -4em;
    right: .5em;
    width: 50px;
    height: 50px;
    font-size: 25px;
    font-weight: 600;
    background-color: rgba(160,160,160, 0.9);
    border-radius: 50%;
    overflow: hidden;
    line-height: 2;
    text-align: center;
  }
}
.textbox--chat {
  position: absolute;
  top: 0;
  right: 0;
  width: 90%;
  height: 100%;
  padding: 1em;
  margin: auto;
  margin-bottom: 2em;
  transform: translateX(95%);
  transition: ease 200ms transform;
  background-color: rgba(0,0,0, 0.7);
  color: #aaa;
  &.is-open {
    transform: translateX(0);
  }
  .messages {
    overflow-y: auto;
    height: 80%;
  }
  h1 {
    padding-bottom: 1em;
    border-bottom: 1px gray solid;
    height: 10%;
    margin-bottom: 0;
    font-size: 22px;
  }
  .chat-form {
    height: 10%;
    position: relative;
    input, .button {
      position: absolute;
      bottom: 2em;
    }
    input {
      width: 75%;
      left: 0px;
      border: none;
      padding: 0.6em;
      color: #666;
      border-top-left-radius: @border-radius;
      border-bottom-left-radius: @border-radius;
    }
    .button {
      width: 25%;
      right: 0px;
      background-color: #ccc;
      border-radius: 0;
      border-top-right-radius: @border-radius;
      border-bottom-right-radius: @border-radius;
      &:hover,
      &:active {
        background-color: #666;
      }
      span {
        display: none;
      }
    }
  }
}

.textbox--text.is-off {
  display: none;
}
.notice {
  font-size: 28px;
  text-align: center;
}
#button {
  display: inline-block;
}
.button {
  padding: .5em 1em;
  border: none;
  color: @button-color;
  border-radius: @border-radius;
  &:hover,
  &:active {
    background-color: rgba(200,200,200, 1);
    color: white;
  }
}
.button--start {

}
.decision {
  display: none;
  position: relative;
  &.is-on {
    positon: relative;
    display: block;
  }
  .button {
    color: #fff;
    background-color: rgba(160,160,160, 0.5);
    margin-bottom: 1em;
    &:hover {
      background-color: rgba(160,160,160, 1);
    }
  }
}
.decision-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  
}
.character-name {
  font-size: 18px;
  font-weight: 600;
}
.center {
  margin: auto;
  text-align: center;
}

@media (min-width: 40em) {

  html,
  body {
    overflow-y: default;
  }
  .textbox--chat {
    width: 300px;
  }
  .screen {
    display: none;
  }
  .screen.is-on {
    display: -webkit-flex;
    display: flex;
  }
  .screen-index {
    -webkit-flex: 1;
            flex: 1;
    align-self: flex-end;
  }
  .textarea {
    position: static;
    bottom: none;
    width: 86%;
    min-height: 8em;
    font-size: 22px;
  }
  .character {
    position: static;
    width: 21em;
    height: 25em;
    margin-top: 2em;
  }
  .textbox--chat {
    position: static;
    margin-bottom: 0;
    width: 300px;
    transform: translateX(0);
  }
  // .center {
  //   margin: auto;
  //   text-align: center;
  // }
  .decison {
    span {
      display: inline;
    }
    .button {
      margin-bottom: 0;
    }
  }
  .decision-list {
    li {
      display: inline-block;
      margin-left: 1em;
    }
  }
}

#debug {
  position: absolute;
  z-index: 1000;
  left: 10px;
  top: 10px;
  #reload {
    display: none;
  }
}