@black: #000;
@gray: #666;

@button-color: @gray;

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  overflow-x: hidden;
}

.screen {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: green;
  display: none;
}
.screen.is-on {
  display: block;
}
// .bg-full {
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   width: 100vw;
//   height: 100vh;
//   margin: auto;
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: center;
//   background-color: green;
//   z-index: -1;
// }
.screen-index {
  // margin: auto;
  // width: 30em;
}
.character {
  position: relative;
  max-width: 13em;
  height: 16em;
  margin: auto;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  z-index: 0;
}

.textbox,
.character-name {
  background-color: rgba(200,200,200, 0.9);
}
.textbox--text {
  margin: 0 auto 2em;
  width: 90%;
  display: block;
  height: 7em;

  .decision-timeleft {
    position: absolute;
    top: .2em;
    right: .5em;
  }
}
.textbox--chat {
  position: absolute;
  top: 0;
  right: 0;
  width: 90%;
  height: 100%;
  padding: 1em;
  margin: auto;
  margin-bottom: 2em;
  transform: translateX(95%);
  transition: ease 200ms transform;
  &.is-open {
    transform: translateX(0);
  }
  h1 {
    font-size: 20px;
    margin: 0 0 1em;
    padding-bottom: 1em;
    border-bottom: 1px gray solid;
    text-align: center;
    height: 10%;
  }
  .messages {
    overflow-y: auto;
    height: 80%;
  }
  .chat-form {
    height: 10%;
    position: relative;
    input, button {
      position: absolute;
      bottom: 2em;
    }
    input {
      width: 75%;
      left: 0px;
    }
    button {
      width: 25%;
      right: 0px;
    }
  }
}
.character-name {
  width: 90%;
  margin: auto;
}

.textbox--text.is-off {
  display: none;
}

.decision {
  display: none;
  position: relative;
  &.is-on {
    positon: relative;
    display: block;
  }
}
.notice {
  font-size: 28px;
}

.button {
  padding: .5em 1em;
  border: none;
  // border: solid 2px @button-color;
  background: white;
  color: @button-color;
  border-radius: 5px;
  &:hover,
  &:active {
    background-color: @button-color;
    color: white;
  }
}
.button--start {

}

.decision-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  li {
    display: inline-block;
  }
}



@media (min-width: 40em) {
  .textbox--chat {
    width: 300px;
  }
  .screen {
    display: none;
  }
  .screen.is-on {
    display: -webkit-flex;
    display: flex;
  }
  .screen-index {
    -webkit-flex: 1;
            flex: 1;
  }
  .textbox--text {
    width: 90%;
  }
  .character {
    max-width: 19em;
    height: 22em;
  }
  .textbox--chat {
    position: static;
    margin-bottom: 0;
    width: 300px;
    transform: translateX(0);
  }
  .textbox--text:not(:empty) {
    height: 8em;
  }
  .center {
    margin: auto;
    text-align: center;
  }
}





